/* HeroesComponent's private CSS styles */
.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list {
  width: calc(50% - 7.5px);
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.46);
  margin-right: 10px;
  min-height: 560px;
}

.song {
  width: calc(50% - 7.5px);
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.46);
  margin-left: 10px;
  min-height: 560px;
}

.player {
  width: 100%;
  background-color: white;
  /*background-color: #405061;*/
  border-radius: 12px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.46);
}

.example-spacer {
  flex: 1 1 auto;
}